.delete-button {
    background-color: #ff3b3b;
}

.delete-button:hover {
    background-color: #ff7c7c;
}

.add-button {
    background-color: #00dd00;
}

.add-button:hover {
    background-color: #56ff56;
}
