.note {
    margin-top: 10px;
    padding: 5px;
    border-left: solid darkgray;
}

.title {
    font-size: large;
}

.created-at {

}

.text {
    /* TODO: изменить на что-то другое, ибо это свойство не работает в IE и Safari */
    overflow-wrap: anywhere;
}
