.note {
    margin-top: 10px;
    border-left: solid darkgray;
    padding: 5px 5px 5px 10px;
}

.note:hover {
    background-color: #f7f6fb;
}

.title {
    font-size: 25px;
    /* TODO: изменить на что-то другое, ибо это свойство не работает в IE и Safari */
    overflow-wrap: anywhere;
}

.created-at {
    font-size: 13px;
    color: #bdbdbd;
}

.text {
    /* TODO: изменить на что-то другое, ибо это свойство не работает в IE и Safari */
    overflow-wrap: anywhere;
}
